body {
  
    background-color: #000000;
    overflow-x: hidden;
    scroll-behavior: smooth;
    color: white;
    box-sizing: border-box;
}



section {
  height: 600px;
}

.p-head{
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 15px;
  margin-bottom: 80px;
}



h1 {
  color: white;
  margin: 4px;
}

/* Page laoded  */



.page_loaded{
  animation: transitionIn 2s;
}


@keyframes transitionIn {
  from {
    opacity: 0;
    transform: rotateX(-10deg);
  }

  to {
    opacity: 1;
    transform: rotateX(0);
  }
}



/* card anamation  */

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  perspective: 50em;
  color: black;
}
.card {
  height: 25em;
  width: 18.75em;
  position: relative;
  font-family: "Poppins", sans-serif;
  animation: spin 12s infinite linear;
  transform-style: preserve-3d;
}
@keyframes spin {
  100% {
    transform: rotateY(360deg);
  }
}
.front,
.back {
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  font-size: 1.2em;
  border-radius: 0.6em;
  backface-visibility: hidden;
}
.back {
  position: relative;
  transform: rotateY(180deg);
  bottom: 100%;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

img {
  width: 250px;
  height: 250px;
}


/* testttt */




@keyframes slideFromBelow {
  0% {
      transform: translateY(100%);
      opacity: 0;
  }
  100% {
      transform: translateY(0);
      opacity: 1;
  }
}



/* navbar code */
    
.topnav {
    overflow: hidden;
    border-style: solid;
    position: fixed;
    width: 95%;
    top: 2px;
    z-index: 10;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: rgb(255, 255, 255);
  }
  
  .topnav a.active {
    color: rgb(255, 255, 255);
  }
  
  .topnav .icon {
    display: none;
    color: rgb(255, 255, 255);
  }






section.first_page {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-image: url('images/ruudlayer.gif');
  background-size: cover;
  background-position: center;
  color: #fff; 
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}







section.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    text-align: center;
    margin-bottom: 200px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
    z-index: 7;

}







/* section 2  */

span.auto-type {
  color: rgb(20, 100, 236);
  font-size: 25px;
}

.base_content {
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}





.hiddenn {

    border-radius: 30px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: beige;
    height: 600px;
    animation: fade-in linear;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 800px;
}


.section_ruud {
  
  border-radius: 30px;
  margin: 20px;
  display: block;
  justify-content: center;
  align-items: center;
  background-color: beige;
  height: 600px;
}



.h1_section_ruud {
  color: black;
}







img.ruud_black {
  width: 300px;
  height: 400px;
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: cover;
  animation-range-end: 800px;

}


@keyframes fade-in {
  from {scale: 0.7; opacity: 0;}
  to {scale: 1; opacity: 1;}
}



.container_auto_type {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
}






.btn-home {
    text-decoration: none;
    width: 160px;
    height: 60px;
    border-radius: 20px;
    font-family: sans serif;
    background-color: transparent;
    font-size: 20px;
    border: solid 3px;
    border-color: white;
    color: white;
}







  
  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  
  @media screen and (max-width: 600px) {
    
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: center;
    }
  }

  /* end navbar */